<div>

    {{debug}}
    <h2>This is a handlebars template</h2>
    {{#each blogPosts}}
    {{#if @index < 5}}
        <h3>{{title}}</h3>
        <p>{{text}}</p>
        <img src="{{image-large}}">
        <p>{{tags}}</p>
        <!-- <a href="{{imageLarge}}" target="_blank"><em>{{Source}}</em></a></p>!-->
        {{/if}}
    {{/each}}

</div>
